
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!-- About section 1 -->
<section class="characters-section character-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="character-info">
                    <img src="" alt="">
                    <h2>Brandon Swaney</h2>
                    <h5>Full Stack .NET Developer</h5>
                    <h5>Freelancer</h5>
                    <p>I am Brandon Swaney and I am a Full Stack .NET Developer. This blog is about the making of myself becoming a developer. 
                    It is a week by week description of what I'm learning from my point of view. Starting my career with Coder Foundry, learning and training to become the best I can be at what I do. 
                    After my time with Coder Foundry, I plan on continuing learning and growing as a developer.</p>
                    <div class="progress-warp">
                        <div class="cp-item">
                            <div class="circle-progress" data-cpid="id-1" data-cpvalue="75" data-cpcolor="#10ddb4"></div>
                            <h4>Strenghts</h4>
                        </div>
                        <div class="cp-item">
                            <div class="circle-progress" data-cpid="id-2" data-cpvalue="90" data-cpcolor="#10ddb4"></div>
                            <h4>Power</h4>
                        </div>
                        <div class="cp-item">
                            <div class="circle-progress" data-cpid="id-3" data-cpvalue="80" data-cpcolor="#10ddb4"></div>
                            <h4>Weapons</h4>
                        </div>
                    </div>
                    <a href="#" class="site-btn">Read More</a>
                </div>
            </div>
        </div>
        <div class="character-img">
            <img src="~/Images/me2reverse.jpg" alt="">
        </div>
    </div>
</section>
<!-- About Section end -->


